/****** PLACE YOUR CUSTOM STYLES HERE ******/

.bg-secondary a {
    color: #27627D;
}

.bg-secondary a:hover {
    text-decoration: underline;
}

.bg-primary {
    background: #27627D !important;
}

.bg-primary .btn:hover {
    background: #fff;
    color: #13313E;
}

.bg-dark {
    background: #13313E;
}

.bg-dark .back-to-top:hover {
    background: #FFE082;
}

.color-primary {
    color: #13313E !important;
}

.btn,
.btn:visited {
    border: 2px solid #13313E;
    color: #13313E;
}

.btn-white {
    border-color: #fff;
}

.btn:hover {
    background: #13313E;
    color: #fff;
}

.btn-white:visited {
    color: #FFE082;
    border: 2px solid #FFE082;
}

.btn-white:visited:hover {
    color: #13313E;
    background: #FFE082;
}

input[type="submit"],
button[type="submit"] {
    border: 2px solid #13313E;
    background: #13313E;
}

.overlay:before {
    background: rgba(19,49,62, 0.5 ) 0%; 
    opacity: 1;
}

.bg-primary .list-inline i {
    color: #fff;
}

.menu > li ul {
    background: #13313E;
}

.bg-primary p a,
.bg-primary p a:hover,
.bg-dark span a,
.bg-dark a:hover {
    font-weight: 400;
    color: #FFE082;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #FFE082;
    font-weight: 400;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFE082;
  transition: all 0.3s ease;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.menu > li > ul li a:hover {
    color: #FFE082;
} 

.bg-dark .back-to-top {
    border: 2px solid #FFE082;
    color: #FFE082;
    opacity: .8;
}

.bg-dark .back-to-top:hover {
    color: #13313E;
    background-color: #FFE082;
}


.logo {
    height: 75px;
}
 
.controls-inside .flex-control-nav {
    bottom: -50px;
}

.italic {
    font-style: italic;
}

div.lead li {
    list-style-position: outside;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 0;
}

ol.marker {
    list-style: none;
    counter-reset: num;
}

ol.marker li {
    counter-increment: num;

}

ol.marker li:before {
    content: counter(num) "";
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #0F6D7D;
    border-radius: 100%;
    text-align: center;
    margin-right: 16px;
    margin-left: -60px;
    display: inline-flex;
    list-style-position: outside;
}

.image-caption .caption:before {
    background: none;
}

.image-caption .caption {
    text-align: center;
}

.t15 {
    top: 15px;
}

blockquote.small {
    color: #757575;
    font-size: 1.15em; 
    line-height: 2em;
    padding: 15px;
}

blockquote {
    color: #757575;
}

.bg-secondary blockquote {
    border-color: #27627D;
}

.button-tabs .active .tab-title {
    background: #27627D;
}

.button-tabs .active .tab-title:hover
{
  background:#27627D;
}

.finding-icon {
    max-height: 40px; 
    padding-right: 20px;
}

.bg-dark .icon {
    color: #FFE082;
}

.bg-dark .social-list a, .image-bg .social-list a {
    opacity: .8;
    color: #FFE082;
}

input[type="email"] {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}

input[type="email"]:focus {
    outline: 1px solid #ccc;
}

@media (max-width: 990px) {
    .menu > li > ul {
        background: #f5f5f5;
    }
    
    .menu > li > ul li a {
        color: #292929;
        opacity: 0.75;
    }
    
    .text-center-sm {
    text-align: center;
    }
}

/*** Fonts ***/

section.cover div ul li a i {
    font-size: 2rem;
}

section.cover h1, 
section.cover h2 {
    font-family: 'Helvetica Neue','Roboto','Raleway', 'Helvetica', 'Arial', sans-serif;
}

 
section.cover h2 {
    font-weight: 200;
}

.font-size-64 {
    font-size: 64px;   
}

.font-size-32 {
    font-size: 32px;
    line-height: 40px;
}

.font-size-24 {
    font-size: 24px;
    line-height: 32px;
}


.font-size-18 {
    font-size: 18px; 
    line-height: 26px; 
}

.font-size-16 {
    font-size: 16px; 
    line-height: 24px; 
}

.font-size-12 {
    font-size: 12px;
    line-height: 24px;
}

.lttr-spacing-2 {
    letter-spacing: 2px;    
}










