/****** PLACE YOUR CUSTOM STYLES HERE ******/


.bg-primary {
    background: #27627D !important;
}

.bg-primary .btn:hover {
    background: #fff;
    color: #13313E;
}

.bg-dark {
    background: #13313E;
}

.bg-dark .back-to-top:hover {
    background: #fff;
}

.color-primary {
    color: #13313E !important;
}

.btn,
.btn:visited {
    border: 2px solid #13313E;
    color: #13313E;
}

.btn-white {
    border-color: #fff;
}

.btn:hover {
    background: #13313E;
    color: #fff;
}

.btn-white:visited {
    color: #fff;
    border: 2px solid #fff;
}

.btn-white:visited:hover {
    color: #13313E;
    background: #fff;
}

input[type="submit"],
button[type="submit"] {
    border: 2px solid #13313E;
    background: #13313E;
}

.overlay:before {
    background: rgba(19,49,62, 0.5 ) 0%; 
    opacity: 1;
}

.bg-primary .list-inline i {
    color: #fff;
}

.menu > li ul {
    background: #13313E;
}

a {
    color: #50A5DC;
}

a:hover, 
a:focus {
    color: #79beeb;
}

.logo {
    height: 75px;
}
 
.controls-inside .flex-control-nav {
    bottom: -50px;
}

.italic {
    font-style: italic;
}

ol.lead li {
    list-style-position: inside;
    font-size: 16px;
    line-height: 40px;
}

.image-caption .caption:before {
    background: none;
}

.image-caption .caption {
    text-align: center;
}

.t15 {
    top: 15px;
}

blockquote.small {
    font-size: 1.15em; 
    line-height: 2em;
    padding: 15px;
}

.bg-secondary blockquote {
    border-color: #27627D;
}

.button-tabs .active .tab-title {
    background: #27627D;
}

.button-tabs .active .tab-title:hover
{
  background:#27627D;
}

.finding-icon {
    max-height: 40px; 
    padding-right: 20px;
}

.icon {
    color: white;
}
