/****** PLACE YOUR CUSTOM STYLES HERE ******/


.bg-primary .list-inline i {
  color: #27627D;
}

.bg-primary {
  background: #13313E !important;
}

.bg-dark {
  background: #27627D;
}

.color-primary {
  color: #13313E !important;
}

.btn {
    border: 2px solid #13313E;
}

.btn:visited {
    color: #13313E;
}

.btn:hover {
  background: #13313E;
}

input[type="submit"],
button[type="submit"] {
    border: 2px solid #13313E;
    background: #13313E;
}

.btn-filled {
  background: #13313E;
}

.image-bg .btn.btn-filled,
.image-bg .btn-filled:visited {
  border-color: #13313E;
}