/*
  <weight>: Use a value from 100 to 900
  <uniquifier>: Use a unique and descriptive class name
*/


.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}