/*
  <weight>: Use a value from 100 to 900
  <uniquifier>: Use a unique and descriptive class name
*/


.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}


h1,h2,h3,h4,h5,h6, section p, section span{ font-family: 'Raleway','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif; }

