/*
    <weight>: Use a value from 100 to 900
    <uniquifier>: Use a unique and descriptive class name
*/

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


h1,h2,h3,h4,h5,h6, section p, section span{ font-family: 'Roboto','Raleway',"Helvetica Neue", Helvetica, Arial, sans-serif; }
